@media screen and (max-width: 600px) {
    .wrapper {
        width: 100%;
    }

    .small {
        min-width: none;
    }
}

.small {
    width: 30%;
    min-width: 233px;
    margin: auto;
}

.large {
    width: 70%;
}