code {
    font-size: 14px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 2px;
}

.JavaScript {
    background-color: lightgreen;
}

.Python {
    background-color: orange;
}

.Java {
    background-color: chartreuse;
}

h1 {
    margin-bottom: 5px;
}

#coding-challenges-ref1 {
    top: -55px;
    position: absolute;
}

#coding-challenges-ref2 {
    top: -45px;
    position: absolute;
}
