code {
    font-size: 14px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 2px;
}

.JavaScript {
    background-color: lightgreen;
}

.Python {
    background-color: orange;
}

.Java {
    background-color: chartreuse;
}

@media screen and (max-width: 600px) {
    .challenges-container {
        margin-top: 125px;
    }
}